# Ignore everything in the project
*

# Allow the dist folder itself and everything inside it
!dist/
!dist/**

# Explicitly ignore any .tar.gz files inside the dist folder
dist/*.tar.gz

# Allow the .gitignore file
!.gitignore
