# Ignore everything in the project
*

# Allow the README.md, dist folder itself and everything inside it
!dist/
!dist/**
# !README.md

# Explicitly ignore any .tar.gz files inside the dist folder
dist/*.tar.gz

# Allow the .gitignore file
!.gitignore
